body {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 입력 영역
#body_div {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* #ball_send_div {
  background-color: #6667ab;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  top: 400px;
  left: 350px;
} */

#ball_send_div {
  position: relative;
}
.botton_div_input {
  width: 80px;
  height: 70px;
  border-radius: 10px;
}
#input_num {
  width: 750px;
  height: 200px;
  position: relative;
  left: 75px;
  font-size: 20px;
  font-weight: 900;
}
#ball_send_div_numdiv {
  margin-top: 10px;
  text-align: center;
}
#start_input {
  width: 240px;
  height: 70px;
  border-radius: 10px;
}
#delet_input {
  width: 80px;
  height: 70px;
  border-radius: 10px;
}
.ball_send_div_img {
  width: 200px;
  height: 200px;
}
.input_num_div {
  width: 80px;
  height: 100px;
  display: inline-block;
  font-size: 90px;
  font-weight: 900;
}
#input_num1 {
  position: relative;
  bottom: 60px;
  right: 530px;
}
#input_num2 {
  position: relative;
  bottom: 160px;
  left: 280px;
}
#input_num3 {
  position: relative;
  bottom: 160px;
  left: 400px;
}

/* 점수 나오는 css */
#body_div_div {
  margin-top: 10px;
}
#score_div {
  width: 300px;
  height: 100px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  bottom: 190px;
  left: 420px;
}
#score_img {
  width: 240px;
  height: 240px;
  position: relative;
}
#score_textbox_img {
  width: 500px;
  height: 240px;
}
#ball {
  width: 300px;
  height: 50px;
  text-align: center;
  /* border: 1px solid black; */
  font-size: 40px;
  font-weight: 900;
}
#strike {
  width: 300px;
  height: 50px;
  text-align: center;
  /* border: 1px solid black; */
  font-size: 40px;
  font-weight: 900;
}
